<!DOCTYPE html>
<html>
  <head>
    <title>Hogwards Trian Ticket Booker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="https://www.orlandoattractions.com/wp-content/uploads/2017/04/HogExpress.jpg">
    <h1>Hogwards Express</h1><br>
    <h2>Welcome to Hogwards Trian Ticket Booking Webpage</h2><br>
    <h3><a href="https://book-ticket-for-me.herokuapp.com/train">Click this to proceed for Trian Ticket Booking</a><h3>
  </body>
</html>
