<!DOCTYPE html>
<html>
  <head>
    <title>Hogwards Trian Ticket Booker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="https://vignette.wikia.nocookie.net/harrypotter/images/3/39/Hogwarts_Express_PM.png/revision/latest?cb=20161213210704">
    <h1>Hogwards Express</h1>
    <p>Welcome to Hogwards Trian Ticket Booking Webpage</p>
    <a href="https://book-ticket-for-me.herokuapp.com/train">Click this to proceed for Trian Ticket Booking</a>
  </body>
</html>
