<!DOCTYPE html>
<html>
  <head>
    <title>Hogwards Trian Ticket Booker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEfv3TkP5FflYqaQx8DtQp4Zu6LCY4gcIXU2wZF_qVT8NVp6Y0">
    <h1>Hogwards Express</h1>
    <p>Welcome to Hogwards Trian Ticket Booking Webpage</p>
    <a href="https://book-ticket-for-me.herokuapp.com/train">Click this to proceed for Trian Ticket Booking</a>
  </body>
</html>
