body {
  padding: 40px;
  font: 14px "Lucida Grande", Times New Roman, Arial Black, sans-serif;
}

a {
  color: Blue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.75px solid #dddddd;
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
